<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BlueRay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .movieDet {
            background-color: darkgray;
            border: 5px black;
            margin-left: 150px;
            margin-right: 150px;
            color: white;
            padding: 1px;
            text-align: center;
        }

        </style>
</head>
<body>
<div th:include="navi :: menu"></div>

    <h2 class="movieDet"> Blue ray available blueRayMovies</h2>
    <!--<p>The .table-striped class adds zebra-stripes to a table:</p>-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Movie Id</th>
            <th>Supplier Id</th>
            <th>Title</th>
            <th>Poster</th>
            <th>Details</th>
            <th>Add to wish list</th>
            <th>Add to NEW WISH list</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="two, stat :${blueRayMoviesFromSuppliers}">
            <td th:text="${two.id}"></td>
            <td th:text="${two.imdbID}"></td>
            <td th:text="${two.title}"></td>
            <td><img class="size" th:src="@{${two.poster}}" height="20%" width="20%"/></td>
            <td>
                <a th:href="@{/blueray/showmovie?id={id}(id=${two.id})}"
                   role="button" class="btn btn-info">Details</a>

            </td>
            <td>
                <a th:href="@{/wish/bluerayaddwishlist?id={id}(id=${two.id})}"
                   role="button" class="btn btn-success">Add to wish list</a>

            </td>
            <td>
                <a th:href="@{/watchwish/addmovie?id={id}(id=${two.id})}"
                   role="button" class="btn btn-dark">Test ADD to wish</a>

            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>