<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" th:fragment="menu">
<nav class="navbar navbar-inverse" th:fragment="menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.testaarosa.pl/">Testaarosa Movies Rental</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/home">Home</a></li>
            <li><a href="/one/movieslist">DVD Movies</a></li>
            <li><a href="/blueray/movieslist">Blue ray Movies</a></li>
            <li><a href="/online/movielist">OnLine Movies</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li> <a href="/users/login">Login</a></li>
                    <li> <a href="/users/adduser">Register new user</a></li>
                    <li> <a href="/users/userslist">Users list</a></li>
                    <li> <a href="/usermovie/addnewmovie">Add new movie</a></li>
                    <li><a href="/usermovie/movieslist">User Movies list</a></li>
                    <li><a href="/watchwish/wishlist">Create Wish</a></li>
                    <li><a href="/watchwish/wishlist">Wish list</a></li>
                </ul>
            </li>
            <li><a href="/wish/wishlist">Movies wish list</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/blueray/movieslistsearch">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by title" name="title"></input>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <form class="navbar-form navbar-right" method="GET" th:action="@{/logout}">
            <p><font color ="red">Logged in as:<b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b></font></p>
            <button type="submit" name="submit" value="value" class="btn link-button btn-sm btn-info">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </button>
        </form>
        <form class="navbar-form navbar-right">
        </form>
    </div>
    <!--<div th:fragment="flash" th:if="${flash != null}" class="container">-->
        <!--<div class="message">-->
            <!--<h2><div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div></h2>-->
        <!--</div>-->
    <!--</div>-->
</nav>
</div>
</body>
</html>