<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BlueRay_Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .movieDet {
            background-color: darkgray;
            border: 5px black;
            margin-left: 150px;
            margin-right: 150px;
            color: white;
            padding: 1px;
            text-align: center;
        }

    </style>
</head>
<body>
<div th:include="navi :: menu"></div>

<h2 class="UserSearch"> User movies search result</h2>
<form class="navbar-form navbar-left" action="/usermovie/movieslistsearch">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search by title" name="title"></input>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Movie Id</th>
        <th>Supplier Id</th>
        <th>Title</th>
        <th>Poster</th>
        <th>Details</th>
        <th>Delete movie</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="search, stat :${searchresult}">
        <td th:text="${search.id}"></td>
        <td th:text="${search.imdbID}"></td>
        <td th:text="${search.title}"></td>
        <td><img th:src="@{${search.userMovieDetails.poster}}" height="20%" width="20%"/></td>
        <td>
            <a th:href="@{/usermovie/showmovie?id={id}(id=${search.id})}"
               role="button" target="_blank" class="btn btn-info">
                <i class="fa fa-info"></i>
            </a>

        </td>
        <td>
            <a th:href="@{/usermovie/delusermovie?id={id}(id=${search.id})}"
               role="button" class="btn btn-success">
                <i class="fa fa-info"></i>
            </a>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>