<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BlueRay_Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .movieDet {
            background-color: darkgray;
            border: 5px black;
            margin-left: 150px;
            margin-right: 150px;
            color: white;
            padding: 1px;
            text-align: center;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.testaarosa.pl/">Testaarosa Movies Rental</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/home">Home</a></li>
            <li><a href="/one/movieslist">DVD Movies</a></li>
            <li><a href="/two/movieslist">Blue ray Movies</a></li>
            <li><a href="/online/movielist">OnLine Movies</a></li>
            <li style="background-color:Grey;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li> <a href="/users/adduser">Add new user</a></li>
                    <li> <a href="/users/userslist/">Users list</a></li>
                    <li> <a href="/usermovie/addnewmovie">Add new movie</a></li>
                    <li><a href="/usermovie/movieslist">User Movies list</a></li>
                </ul>
            </li>
            <li><a href="/wish/wishlist">Movies wish list</a></li>
        </ul>
    </div>
</nav>

<h2 class="movieDet"> Blue ray blueRayMovies search result</h2>
<!--<p>The .table-striped class adds zebra-stripes to a table:</p>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>Movie Id</th>
        <th>Supplier Id</th>
        <th>Title</th>
        <th>Poster</th>
        <th>Details</th>
        <th>Delete movie</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="search, stat :${searchresult}">
        <td th:text="${search.id}"></td>
        <td th:text="${search.imdbID}"></td>
        <td th:text="${search.title}"></td>
        <td><img th:src="@{${search.userMovieDetails.poster}}" height="20%" width="20%"/></td>
        <td>
            <a th:href="@{/usermovie/showmovie?id={id}(id=${search.id})}"
               role="button" class="btn btn-info">
                <i class="fa fa-info"></i>
            </a>

        </td>
        <td>
            <a th:href="@{/usermovie/delusermovie?id={id}(id=${search.id})}"
               role="button" class="btn btn-success">
                <i class="fa fa-info"></i>
            </a>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>