<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User_Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .movieDet {
            background-color: darkgray;
            border: 5px black;
            margin-left: 150px;
            margin-right: 150px;
            color: white;
            padding: 1px;
            text-align: center;

        }

    </style>
</head>
<body>
<div th:include="navi :: menu"></div>


<h2 class="movieDet">Users list</h2>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>E-mail</th>
        <th>Register date</th>
        <th>No of movies</th>
        <th>User details</th>
        <th>Delete user</th>


    </tr>
    </thead>
    <tbody>
    <div class="w3-container">
        <tr th:each="use, stat :${users}">
            <td th:text="${use.id}"></td>
            <td  th:text="${use.name}"></td>
            <td  th:text="${use.surname}"></td>
            <td  th:text="${use.email}"></td>
            <td  th:text="${use.registerDate}"></td>
            <!--<td  th:text="${use.getUserDetails().getBrithday()}"></td>-->
            <!--<td th:text="${use.g}"></td>-->
            <!--<td>-->
                <!--<a th:href="@{/user/showmovie?id={id}(id=${use.id})}"-->
                   <!--role="button" class="btn btn-info">-->
                    <!--<i class="fa fa-info"></i>-->
                <!--</a>-->

            <!--</td>-->
            <!--<td>-->
                <!--<a th:href="@{/user/delusermovie?id={id}(id=${use.id})}"-->
                   <!--role="button" class="btn btn-danger">-->
                    <!--<i class="fa fa-info"></i>-->
                <!--</a>-->
            <!--</td>-->
        </tr>
    </div>
    </tbody>
</table>

</body>
</html>